<h1>A demonstration of Angular JS</h1>

<div ng-app="myApp">

	<div ng-controller="weatherCtrl">
		<form>
      <input type="number" ng-model="zip">
      <input type="submit" value="Search" ng-click="findWeather(zip)">
    </form>
    <p ng-show="zip">Searching the forecasts for: {{zip}}</p>
    <div>
      <h1>{{hashie}}</h1>
    </div>	
  </div>

  <div ng-controller="someCtrl">
    <h1>{{data.message0}}</h1>
    <h1>{{data.message1}}</h1>
    <h1>{{data.message2}}</h1>
    <h1>{{5+5}}</h1>
  </div>

</div>