<div ng-app="weatherApp">
	<div class="container">

		<h2>Ultra Forecast</h2>
		<div ng-controller="weatherCtrl">
			<form>
			<div class="form-group">
		    <input type="text" ng-model="locationQuery" placeholder="Central Park" class="form-control">
		  </div>
		    <input type="submit" value="Search" ng-click="findWeather(locationQuery)" class="btn btn-default">
		  </form>

		<div class="row"></div>

    <i>Showing weather for {{ address }} </i>

			<div class="circle">
		    <span>
			    <div id="toy-current-temp">
						{{ currentTemp | number:0 }}°F
					</div>
					{{ currentSummary }}
					<div id="toy-max-min-temp-current">
					{{ todayMax | number:0 }}°/{{ todayMin | number:0  }}°
					</div>
		    </span>
		  </div><!-- circle -->

		  <div class="row"></div>
		  <div ng-repeat="eachDay in forecast">
			 	<div class="col-lg-3">
			 		<div class="weather-box">
			 			<div class="toy-weather-day">
			 				{{ eachDay.date }}
			 			</div>
			 			<div class="weather-icon">
	 		 			</div>
			 			<div class="max-min-temp">
			 			</div>
			 			<div class="weather-summary">
			 			</div>
			 		</div>
			 	</div><!-- col-lg-3 -->
			</div>

		</div><!-- ng-controller="weatherCtrl" -->
	
	</div>
</div> 