<div ng-app="weatherApp">
	<div ng-controller="weatherCtrl">
		{{data}}
		<form>
	    <input type="number" ng-model="zip">
	    <input type="submit" value="Search" ng-click="findWeather(zip)">
	  </form>
  <p>Showing the forecasts for: {{zip}} </p>
	  <div>
	    <h1>Degrees: {{ currentTemp }}</h1>
	  </div>
	</div>

</div> 