<div ng-app="weatherApp">
	<div class="container">

		<h2>Ultra Forecast</h2>
		<div ng-controller="weatherCtrl">
			<form>
			<div class="form-group">
		    <input type="text" ng-model="locationQuery" placeholder="Central Park" class="form-control">
		   </div>
		    <input type="submit" value="Search" ng-click="findWeather(locationQuery)" class="btn btn-default">
		  </form>

		<div class="row"></div>
			
			<h2>{{ address }}</h2>

			<div class="circle">
		    <span>
			    <div id="toy-current-temp">
						{{ currentTemp }}°F
					</div>
					{{ currentSummary }}
					<div id="toy-max-min-temp-current">
					<b>{{ todayMax }}°</b>/{{ todayMin }}°
					</div>
		    </span>
		  </div><!-- circle -->

		  <div class="row"></div>
		  <div ng-repeat="eachDay in forecast">
			 	<div class="col-lg-3">
			 		<div class="weather-box">
			 			<div class="toy-weather-day">
			 				<p>{{ eachDay.day }}</p>
			 				<p>{{ eachDay.date }}</p>
			 			</div>

			 			<div class="weather-icon">
	 		 				<i class="wi wi-{{ eachDay.icon }}"></i>

	 		 			</div>

			 			<div class="max-min-temp">
			 				<b>{{ eachDay.max }}°</b>/{{ eachDay.min}}°
			 			</div>

			 			<div class="weather-summary">
			 				{{ eachDay.summary }}
			 			</div>

			 		</div>
			 	</div><!-- col-lg-3 -->
			</div>

		</div><!-- ng-controller="weatherCtrl" -->
	
	</div>
</div> 