<div ng-app="weatherApp">
	<div class="container">
		<h3>Get your free weather forecast today.</h3>
		<div ng-controller="weatherCtrl">
			<form>
		    <input type="text" ng-model="locationQuery" placeholder="Central Park">
		    <input type="submit" value="Search" ng-click="findWeather(locationQuery)">
		  </form>
	  <p>Showing weather for: {{ address }} </p>
		  <div>
		    <h1>Degrees: {{ currentTemp }} F</h1>
		  </div>
		</div>
	</div>
</div> 